{% layout "base.liquid" heading: heading %}

{% block head_extras %}
<script src="https://cdn.jsdelivr.net/npm/@cap.js/widget"></script>
<link rel="stylesheet" href="/styles/create-post.css">
<link rel="stylesheet" href="/styles/tutorial.css">
<link rel="stylesheet" href="/styles/rendered.css">
{% endblock %}

{% block content %}
<form class="create-post" {% if mode != "edit" %} action="/post" {% else %} action="/post/{{ post.id }}/update" {% endif %} method="post">
    <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="title" {% if mode == "edit" %}value="{{ post.title }}" {% endif %}>
    </div>

    <div class="form-group">
        <label for="post-tws">Notes (things like trigger/age/content warnings, if any)</label>
        <input type="text" id="post-tws" name="triggers" {% if mode == "edit" %}value="{{ post.triggers }}" {% endif %}>
    </div>

    <div id="tutorial-nag" class="nag">
        Click here for help with editing.
    </div>

    <div class="form-group textarea-group">
        <label for="post-content">Post content (Words: <span id="content-word-count">0</span>)</label>
<textarea id="post-content" name="content">{% if mode == "edit" %}{{ post.content }}{% endif %}</textarea>
    </div>

    <div id="post-preview-label" aria-roledescription="label">Post preview</div>
    <div id='post-preview' aria-labelledby="post-preview-label" class="content-rendered"></div>

    {% if mode != "edit" %}

    <div class="nag">
        This is just a nickname! Setting it here does not reserve it. If not entered, this will be "Anonymous".
    </div>
    <div class="form-group">
        <label for="post-author">Your name</label>
        <input type="text" name="author" id="post-author">
    </div>

    <div class="nag">
        Setting an edit code is highly recommended. You can use this to edit or delete your post later on. 
        If you don't set this, you will have to contact the admins to edit your post. 
        <strong>Keep this secret! Anyone with the code can change your posts.</strong>
    </div>

    <div class="form-group">
        <label for="post-edit-code">Edit code</label>
        <input type="text" name="password" id="post-edit-code">
    </div>

    {% else %}
    <input type="hidden" name="session" value="{{ session }}">
    <input type="hidden" name="action" value="update">
    {% endif %}

    <div class="form-group">
        <label for="post-nsfw">Does this post contain material that could be considered not safe for work (NSFW)?</label>
        <input type="checkbox" id="post-nsfw" name="nsfw" value="yes" {% if mode == "edit" and post.nsfw %} checked {% endif %}>
    </div>

    <div class="form-group">
        <label for="post-edition">Post edition (Select "No edition" if not sure)</label>
        <select name="edition" id="post-edition" autocomplete="off">
            {% for edition in editions %}
                <option value="{{ edition.id }}"
                    {% if mode != "edit" and latestEdition == edition.id %}selected{% endif %}
                    {% if mode == "edit" and edition.id == currentEdition %}selected{% endif %}
                    >{{ edition.name }}</option>
            {% endfor %}
        </select>
    </div>


    <cap-widget id="cap" data-cap-api-endpoint="/captcha/" data-cap-hidden-field-name="captcha"></cap-widget>

    <div class="form-group submit-group">
        <input type="submit" {% if mode != "edit" %} value="Post!" {% else %} value="Update post" {% endif %}>
    </div>
</form>

{% if mode == "edit" %}
    <style>
        h3 {
            margin: 0.25rem;
        }
        details summary h4 {
            display: inline;
            margin: 0;
        }
    </style>
    <h3>Danger Zone</h3>
    
    <details>
        <summary><h4>Change edit code</h4></summary>
        
        <div class="nag">
            <strong>WARNING!</strong>If you forget your edit code, you'll have to ask admins to reset it. Be careful!</div>

        <form action="/post/{{ post.id }}/update" method="post">
            <input type="hidden" name="session" value="{{ session }}">
            <input type="hidden" name="action" value="update_edit_code">
            <div class="form-group">
                <label for="new-edit-code">New edit code</label>
                <input type="text" id="new-edit-code" name="new_edit_code" required>
            </div>
            <div class="form-group submit-group">
                <button type="submit" class="warning">Change edit code</button>
            </div>
        </form>
    </details>

    <details>
        <summary><h4>Delete post</h4></summary>
        
        <div class="nag"><strong>WARNING!</strong> THIS CANNOT BE UNDONE. Only continue if you are sure of what you're doing.</div>

        <form action="/post/{{ post.id }}/update" method="post">
            <input type="hidden" name="session" value="{{ session }}">
            <input type="hidden" name="action" value="delete">
            <div class="form-group submit-group">
                <button type="submit" class="danger">Delete post</button>
            </div>
        </form>
    </details>
{% endif %}

<script type="module" src="/js/create-post.js"></script>
{% endblock %}