{% block extra_head %}
<link rel="stylesheet" href="/index.css">
{% endblock %}

{% layout "base.liquid", heading:"Welcome to Writers Jam!", title:title %}
{% block content %}

<p>
    {% if postCount %}
        <span class="counter">{{ postCount }}</span> posts so far
    {% endif %}
    {% if postCount and viewCount %}
        totalling <span class="counter">{{ viewCount }}</span> views
    {% endif %}
</p>

{{ description | parse_md | raw }}

<a class="btn invert" href="/post"><strong>Get started!</strong></a>

<h2>Posts</h2>
<div class="cta-links">
    {% if postCount != 0 %}
    <p>
    <a href="/post/random">Random post</a>
    </p>
    {% endif %}

    <p>
        {% if currentNsfw == "yes" %}
            <a href="{{ queries.nsfw_toggle }}">Hide NSFW</a>
        {% else %}
            <a href="{{ queries.nsfw_toggle }}">Show NSFW</a>
        {% endif %}
    </p>

    <p>
        {% if currentSort == "views" %}
            Sorting by views. <a href="{{ queries.sort_updated }}">Sort by last update</a>
        {% else %}
            Sorting by last update. <a href="{{ queries.sort_views }}">Sort by views</a>
        {% endif %}
    </p>
</div>

{% if results.size %}
    <div class="posts">
    {% for post in results %}
        <a class="post-item" href="/post/{{ post.id }}">
            <div class="post-title">{{ post.title | default: "(Untitled)" }}
                {% if post.nsfw %}
                    <span class="badge danger invert">NSFW</span>
                {% endif %}
            </div>
            <div class="post-author">by <strong>{{ post.author | default: "Anonymous" }}</strong></div>
            {% if post.triggers.size != 0 %}
                <strong>TRIGGER WARNINGS: </strong> {{ post.triggers }}
            {% endif %}
            <div class="view-count">
                <i class="iconoir-eye" aria-label="View count" title="View count"></i> 
                {{ post.views }}
            </div>
            <div class="updated-time">
                <i class="iconoir-clock" aria-label="Last updated" title="Last updated"></i> 
                {{ post.updated | time_ago }}
            </div>
        </a>
    {% endfor %}
    </div>
    <div class="page-links">
        <div>
            {% if page != 1 %}
            <a href="{{ queries.prev_link }}">Previous</a>
            {% endif %}
        </div>

        <div>Page {{ page }} of {{ totalPages }}</div>

        <div>
            {% if page != totalPages %}
            <a href="{{ queries.next_link }}">Next</a>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>No posts yet. <a href="/post">Be the first!</a></p>
{% endif %}

{% endblock %}