{% layout "base.liquid", heading:heading, title:title %}

{% block head_extras %}
<script src="https://cdn.jsdelivr.net/npm/@cap.js/widget"></script>
<link rel="stylesheet" href="/styles/view.css">
<link rel="stylesheet" href="/styles/rendered.css">
<meta property="og:type" content="article" />
{% if post.title %}
<meta property="og:title" content="View “{{ post.title }}” by {{ post.author | default: "Anonymous" }}" />
{% elsif post.author %}
<meta property="og:title" content="View this Writers Jam post by {{ post.author }}" />
{% else %}
<meta property="og:title" content="Writers Jam - view post" />
{% endif %}
<meta property="og:description" content="{{ post.content | truncate: 100 | escape }}" />
<meta property="og:url" content="https://writersjam.shantaram.xyz/post/{{ post.id }}" />
<meta property="og:site_name" content="Writers Jam" />
{% endblock %}

{% block content %}
<div class="post-meta">
    <div class="post-author">by <span class="author">{{ post.author | default: "Anonymous" }}</span></div>
    <div class="post-details">
        <div class="view-count">
            <i class="iconoir-eye" aria-label="View count" title="View count"></i> 
            {{ post.views }}
        </div>
        <div class="updated-time">
            <i class="iconoir-clock" aria-label="Last updated" title="Last updated"></i> 
            {{ post.updated | time_ago }}
        </div>
    </div>
</div>

<div class="post-tags">
    {% if post.nsfw %} <span class="tag danger invert">NSFW</span> {% endif %}
    <div class="tag invert">
        <a href="/posts?nsfw=yes&edition={{ post.edition.id }}&sort=updated&order=desc&search=">{{ post | get_post_edition }}</a>
    </div>
</div>

{% if post.triggers.size %}
    <div class="nag"><strong>Notes:</strong> {{ post.triggers }}</div>
{% endif %}

<div class="view-settings">
    <div class="form-group">
        <label for="font-selector">Display font</label>
        <select id="font-selector">
            <option value="sans">Sans-serif (default)</option>
            <option value="serif">Serif</option>
            <option value="monospace">Monospace</option>
        </select>
    </div>
</div>

<div class="content-rendered noborder" id="post-contents">
    {{ post.content | parse_md | raw }}
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const fontSelector = document.querySelector('#font-selector');
        const pane = document.querySelector('#post-contents');
        const pref = localStorage.getItem('user-font-preference');
        fontSelector.onchange = () => {
            pane.classList.remove("monospace", "serif", "sans");
            pane.classList.add(fontSelector.value);
            localStorage.setItem('user-font-preference', fontSelector.value);
        }

        if (pref && ['sans', 'serif', 'monospace'].includes(pref)) {
            fontSelector.value = pref;
            fontSelector.onchange();
        }
    })
</script>

{% if post.password.size %}
    <details>
        <summary>Manage post</summary>
        <p>Creator of this post? You can edit it here using the edit code you chose while posting.</p>
        <form id="manage-form" method="POST" action="/post/{{ post.id }}/manage">
            <div class="form-group">
                <label for="manage-password">Edit code</label>
                <input type="text" name="password" id="manage-password">
            </div>
            <div class="form-group submit-group">
                <input type="submit" value="Edit" class="invert">
            </div>
        </form>
    </details>
{% endif %}

<h2>Comments</h2>

<h3>Leave a comment</h3>
<form method="POST" action="/post/{{ post.id }}/comment">
    <div class="form-group">
        <label for="comment-author">Your name</label>
        <input type="text" name="author" placeholder="Anonymous" id="comment-author">
    </div>

    <div class="form-group textarea-group">
        <label for="comment-body">Your comment</label>
        <textarea name="content" id="comment-body" placeholder="Remember to be respectful! All art is subjective."></textarea>
    </div>

    <input type="hidden" name="for" value="{{ post.id }}">

    <cap-widget id="cap" data-cap-api-endpoint="/captcha/" data-cap-hidden-field-name="captcha"></cap-widget>
    
    <div class="form-group submit-group">
        <input type="submit" value="Post comment">
    </div>
</form>

{% if comments.size %}
    <div class="comments">
    {% for comment in comments %}
        <div class="comment" id="post-comment-{{ comment.id }}">
            <div class="comment-first-line">
            <a href="/post/{{ post.id }}#post-comment-{{ comment.id }}"><i class="iconoir-link"></i></a>
            <span class="comment-author">{{ comment.author }}</span>
            </div>
            <div class="comment-body">{{ comment.content }}</div>
            <div class="comment-meta">
                <span class="comment-reply"><a href="javascript:void(0)" aria-role="button">Reply</a></span>
                <span class="comment-time">
                    <i class="iconoir-clock" aria-label="comment time" title="Comment posted at"></i> {{ comment.posted | time_ago }}
                </span>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No comments yet. Be the first to leave one!</p>
{% endif %}

<script type="module">
    import { parseMd } from '/js/parse.js';
    import { unescape } from 'https://esm.sh/jsr/@campfire/core@4.0.2';
    window.addEventListener('DOMContentLoaded', () => {
        const textarea = document.querySelector("#comment-body");
        document.querySelectorAll('.comment-reply').forEach(item => {
            const parent = item.closest('.comment');
            const poster = parent.querySelector('.comment-author').innerHTML;
            const body = parent.querySelector('.comment-body');
            const contents = body.innerHTML;
            const quoted = `> **_@${poster}_** wrote:  \n${unescape(contents).split('\n').map(item => `> ${item}`).join('\n')}\n\n`;
            item.onclick = () => {
                if (textarea.value.trim()) {
                    textarea.value += `\n${quoted}`;
                }
                else {
                    textarea.value = quoted;
                }
                textarea.focus();
            }
            body.innerHTML = parseMd(unescape(contents));
        })
    })
</script>

{% endblock %}